* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.login-container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: block;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.widebutton {
    width: 100%;
}

.thinbutton {
    width: 100px;
}

.widebottombutton {
    position: fixed; /* Fix the button at the bottom of the viewport */
    bottom: 0; /* Align the button to the bottom */
    left: 0; /* Start the button from the left edge */
    width: 100%; /* Make the button as wide as the viewport */
    padding: 15px 0; /* Add some padding for a larger button */
    background-color: #0db95b; /* Example background color */
    color: white; /* Text color */
    border: none; /* Remove default borders */
    text-align: center; /* Center the text inside the button */
    font-size: 18px; /* Increase font size */
    cursor: pointer; /* Change cursor to pointer */
}