<html>
    <head>
        <title>{{ title }} - X-Country</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>
    <body>
        <div>
            The X-Country Forum:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('admincreate') }}">AthleteMaker</a>
            <button id="button1">user mode</button>
            <button id="button2">admin mode</button>
        </div>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <script>
            document.getElementById('button1').addEventListener('click', function() {
                alert('Button 1 was clicked!');
                // Add your desired functionality for button 1 here
            });
    
            document.getElementById('button2').addEventListener('click', function() {
                alert('Button 2 was clicked!');
                // Add your desired functionality for button 2 here
            });
        </script>
    </body>
</html>