<html>
    <head>
        <title>{{ title }} - X-Country</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}"> 
    </head>
    <body>
        <header class="navbar">
            <div class="navbar-brand">XC Page</div>
            <ul class="navbar-links">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('scorer') }}">Scorer (DON'T CLICK)</a></li>
              <li><a href="{{ url_for('previous_results') }}">Previous Results (DON'T CLICK) </a></li>
              <li><a href="{{ url_for('adminpage') }}">AthleteMaker</a></li>
            </ul>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>