{% extends "noheader.html" %}

{% block content %}

{% if noAthlete == True %}
    <!-- <p>Athlete Code invalid</p> -->
    <script>
        window.onload = function() {
            alert("Athlete Code Invalid")
        }
    </script>
{% endif %}

{% if athInFile == True %}
    <!-- <p>Athlete Code invalid</p> -->
    <script>
        window.onload = function() {
            alert("Athlete Already Scanned")
        }
    </script>
{% endif %}
<div class="container">
    <h1>Begin Scanning for {{ race_name }}</h1> <!--this is just a title-->

    <form id="scanForm" method="POST" action="">
        <input type="text" id="athleteCode" name="athlete_code" placeholder="Enter Athlete Code" required>
        <button type="submit" class="btn widebutton">Scan</button> <!--button to input finished runners-->
    </form>

    <h2>Finished Runners</h2>
    <ul class="runner-list">
        {% for i in ath %} <!--jinja2 means that I can loop through the list of finished runners when each new one gets submitted-->
            <li class="runner-item">
                <span>{{ i[0] }}: {{ i[2] }} ({{ i[1] }})</span> <!--adds their placing, their name and their code in brackets-->
            </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('previousresults') }}" method="POST">
        <button type="submit" class="btn widebottombutton">Continue</button> <!--alright next, this moves you on to another thing-->
    </form>
</div>


{% endblock %}

