{% extends "noheader.html" %}

<!--this is an absolutely massive headache of html stuff-->

{% block content %}
<div class="container"> <!--class in html, used for css stuff-->
    <h1>Create New Race</h1>
    <form class="form" method="POST" action=""> <!--the origin of post requests itself-->
        <div class="form-group">
            <label for="racename">Name of Race</label> <!--form label so you know what date to fill out-->
            <input type="text" id="racename" name="nameofraceinput" placeholder="Enter race name" required> <!--text input-->
        </div>

        <div class="form-group">
            <label for="agegroup">Age Group</label><!--form label so you know what date to fill out-->
            <select id="agegroup" name="agegroupinput"> <!--dropdown menu-->
                <option value="Junior">Junior</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Senior">Senior</option>
            </select>
        </div>

        <div class="form-group">
            <label for="coordname">Coordinator Name</label> <!--form label so you know what date to fill out-->
            <!--text input-->
            <input type="text" id="coordname" name="coordinatorinput" placeholder="Enter first and last name" required>
        </div>

        <div class="form-group">
            <label for="course">Course Name</label> <!--form label so you know what date to fill out-->
            <!--Dropdown menu-->
            <select id="course" name="coursenameinput">
                <option value="Kings">Kings School Grounds</option>
                <option value="Riverview">Riverview School Grounds</option>
                <option value="Upjohn">Upjohn Park</option>
                <option value="Sydney">Sydney Park</option>
                <option value="Centennial">Centennial Parklands</option>
                <option value="Miranda">Miranda Park</option>
            </select>
        </div>

        <button type="submit" class="btn widebutton">Create Race</button>
    </form>
</div>
{% endblock %}