{% extends "noheader.html" %}

{% block content %}

<h1>Register</h1>

{% if error_message %}
    <script>
        window.onload = function() {
            alert(`{{ error_message }}`)
        }
    </script>
{% endif %}

<div class="login-container">
    <form method="POST" action="">
        <label for="username">Username</label>
        <input type="text" id="username" name="rusername" placeholder="Username" required>
        
        <label for="password">Password</label>
        <input type="text" id="password" name="rpassword" placeholder="Password" required>
        
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="rfname" placeholder="Enter First Name" required>

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="rlname" placeholder="Last Name" required>
        
        <label for="admin">Admin identifier</label>
        <input type="text" id="admin" name="atag" placeholder="Enter 1 or 0" required>
        <input type="submit">
    </form>
</div>

{% endblock %}