{% extends "base.html" %}

{% block content %}

<h1>Register</h1>
<div id="content">
    <form method="POST" action="">
        <h2>Register</h2>
        <input type="text" name="rusername" placeholder="Username" required>
        <input type="text" name="rpassword" placeholder="Password" required>
        <input type="text" name="rfname" placeholder="First Name" required>
        <input type="text" name="rlname" placeholder="Last Name" required>
        <input type="text" name="atag" placeholder="Admin? 1 or 0" required>
        <input type="submit">
    </form>
</div>

{% endblock %}